.navbar {
    height: 61px;
    box-shadow: 1px 1px 7px 3px #cecece;
}

.content {
    font-family: 'Inter', sans-serif;
}

.content .posts {
    border-right: 1px solid #ECECEC;
    width: 70%;
}

.content .posts .choices {
    color: #B5B2C5;
}

.content .posts .choices .active {
    color: #000;
}

.content .posts .articles {
    height: 200px;
    width: 761px;
    display: block;
}

.content .posts .articles .information {
    font-family: 'Montserrat', sans-serif;
    max-height: 100px;
    width: 70%;
}

.content .posts .articles .information p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.content .posts .articles .thumbnail {
    position: relative;
}

.content .posts .articles .thumbnail img {
    position: absolute;
}

.content .posts .articles .author {
    max-height: 32px;
    position: relative;
}

.content .posts .articles .author .profile {
    border-radius: 30px;
    position: relative;
    width: 31px;
    height: 31px;
}

.content .posts .articles .author .name {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.content .posts .articles .author .date {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.content .posts .articles .author .name::after {
    content: url('../images/icons/dot-4.png');
    display: inline;
    position: absolute;
    margin-left: 6px;
    margin-top: 8px;
}

.content .posts .articles .author .profile img {
    position: absolute;
}

.content .posts .articles .post-category {
    height: 32px;
    color: #3E3E3E;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.content .side {
    width: 30%;
}

.content .side .people .info h1 {
    font-family: 'Montserrat', sans-serif;
}

.content .side .people .info h2 {
    font-family: 'Inter', sans-serif;
}

